<h3>Create an account</h3>
<form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="authForm">

  <app-input inputType="text" label="Username" [control]="authForm.get('username')"></app-input>

  <app-input inputType="password" label="Password" [control]="authForm.get('password')"></app-input>

  <app-input inputType="password" label="Confirm Password" [control]="authForm.get('passwordConfirmation')"></app-input>

  <div class="password-match-error-box">
    <div *ngIf="authForm.errors && authForm.get('password')?.touched && authForm.get('passwordConfirmation')?.touched"
         class="ui label small red basic">
      <p *ngIf="authForm.errors?.['passwordNotMatched']">
        Password and Confirm Password don't match
      </p>
      <p *ngIf="authForm.errors?.['noConnection']">
        No internet connection! Failed to signup
      </p>
      <p *ngIf="authForm.errors?.['unknownError']">
        Unknown error occured! Failed to signup
      </p>
    </div>
  </div>
  <div class="signup-btn">
    <button class="ui button submit primary">Sign Up</button>
  </div>

</form>

